{% extends "base.html" %}
{% block content %}
<h1>Upload Image and STL Model File</h1>
<form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data" class="dropzone" id="upload-dropzone">
    {{ form.hidden_tag() }}
    <div class="dz-message">
        Drag and drop files here or click to upload (image and STL model)
    </div>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}
    </p>
    <p>
        {{ form.creator.label }}<br>
        {{ form.creator(size=32) }}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(rows=4, cols=32) }}
    </p>
    <p>
        {{ form.tags.label }}<br>
        {{ form.tags(size=32) }}
    </p>
    <p>{{ form.submit_button(id="submit-button") }}</p>
</form>
<script>
    Dropzone.autoDiscover = false;

    const uploadDropzone = new Dropzone("#upload-dropzone", {
        paramName: "file",
        maxFilesize: 1024, // MB
        acceptedFiles: ".png,.jpg,.webp,.jpeg,.7z",
        autoProcessQueue: false, // Prevent automatic upload
        uploadMultiple: true,        
        addRemoveLinks: true,
        parallelUploads: 10,
        init: function() {
            const myDropzone = this;

            document.querySelector("#submit-button").addEventListener("click", function(e) {
                e.preventDefault();
                e.stopPropagation();

                myDropzone.processQueue(); // Process all queued files
            });

            this.on("sendingmultiple", function(files, xhr, formData) {
            });

            this.on("successmultiple", function(files, response) {
                // Redirect to the index page after successful upload
                window.location.href = "{{ url_for('index') }}";
            });

            this.on("errormultiple", function(files, response) {
                // Handle the response from the server
                console.error(response);
            });
        }
    });
</script>
{% endblock %}
